@font-face {
    font-family: Inter;
    src: url(fonts/Inter-VariableFont_slnt,wght);
}

@font-face {
    font-family: Quicksand;
    src: url(fonts/Quicksand-VariableFont_wght);
}

html,
body {
    color: white;
    height: 100%;
    margin: 0;
    text-align: center;
}

.first-block {
    height: auto;
    background-color: rgb(222, 43, 36);
    padding: 20px;
    line-height: 0.5;
    padding-bottom: 120px;
}

.second-block {
    display: grid;
    margin: auto;
    justify-items: center;
    height: auto;
    background-color: rgb(18, 134, 191);
    padding: 20px;
    line-height: 0.5;
    padding: 40px 0 100px;
}

.third-block {
    height: auto;
    background-color: rgb(42, 42, 42);
    padding: 20px;
    line-height: 0.5;
}

.container {
    max-width: 1000px;
    list-style: none;
    display: grid;
    margin: auto;
    justify-items: center;
}

.picture,
.picture--positioned-right {
    width: 125px;
    height: 125px;
    object-fit: cover;
}

.picture--positioned-right {
    object-position: 89%;
}

.paper-cell {
    display: grid;
    width: 125px;
    height: 125px;
    background-color: rgb(243, 84, 88);
    transition: transform 1s, filter .5s ease-out;
    justify-items: center;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
    align-content: center;
}

.plane {
    align-self: end;
    transform: scale(.85);
}

.text-box {
    line-height: 0;
}

.title {
    font-size: 36px;
    text-transform: capitalize;
    line-height: 1;
}

.paper-cell:hover {
    transform: scale(0.95);
}

.photo-cell {
    width: 125px;
    height: 125px;
    transform-origin: 65%;
    transition: transform 1s, filter .5s ease-out;
}

.photo-cell:hover {
    transform: scale(1.1);
}

.block-area {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 125px);
    grid-template-rows: repeat(4, 125px);
    list-style: none;
    justify-items: stretch;
    align-items: stretch;
    padding: 0;
}

h1,
h2 {
    font-family: 'Inter';
    text-transform: capitalize;
}

h1 {
    line-height: 1;
}

.thin-text,
.thin-text--pale {
    font-family: 'Quicksand', sans-serif;
    line-height: 1;
}

.first-block__title {
    font-size: 18px;
}

.first-block__subtitle {
    font-size: 14px;
}

.thin-text--pale {
    color: rgb(195, 195, 195);
    font-size: 14px;
}

.touch {
    margin-top: 2em;
}

.line {
    width: 30px;
    height: 5px;
    background-color: white;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 5px;
}

.circle::before {
    content: "";
    position: absolute;
    height: 60px;
    width: 60px;
    border: 4px solid white;
    border-radius: 50%;
    top: -20px;
    left: -20px;
}

.circle {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    position: relative;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 20px;
}

.triangle {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid white;
}

.form {
    display: grid;
    justify-items: center;
    max-width: 714px;
    margin: 80px auto 0;
    padding: 0 30px;
    position: relative;
}

.form-main {
    width: 90%;
    padding: 15px;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    position: relative;
}

.text-advertise {
    color: rgb(120, 120, 120);
    line-height: 1.2;
    padding: 0 20px;
    padding-bottom: 20px;
    hyphens: auto;
    margin-top: -20px;
}

.circle--red {
    height: 40px;
    width: 40px;
    background-color: rgb(221, 44, 34);
    border-radius: 50%;
    position: relative;
    left: 98%;
    bottom: 2rem;
}

.circle--red::before {
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
    top: -1px;
    right: -1px;
}

.circle--red:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    content: "X";
    font-size: 30px;
    color: #FFF;
    line-height: 40px;
    text-align: center;
}

form li+li {
    margin-top: 10px;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

@media screen and (max-width:1200px) {
    ul li:nth-child(1) {
        order: 1;
    }
    ul li:nth-child(3) {
        order: 4;
    }
    ul li:nth-child(5) {
        order: 2;
    }
    ul li:nth-child(7) {
        order: 6;
    }
    ul li:nth-child(2) {
        order: 3;
    }
    ul li:nth-child(4) {
        order: 7;
    }
    ul li:nth-child(6) {
        order: 5;
    }
    ul li:nth-child(8) {
        order: 8;
    }
}

input {
    font: 1em sans-serif;
    padding: 15px;
    width: 70%;
    height: 15%;
    box-sizing: border-box;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
}

input:focus,
.button--red:hover {
    outline: none;
    box-shadow: 0 0 0 1pt rgb(18, 134, 191);
    transition: .1s;
}

.button {
    font-family: 'Inter';
    font-weight: 700;
}

.button--red {
    width: 9rem;
    padding: 13px;
    background-color: rgb(221, 44, 34);
    color: white;
    border: none;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    font-size: 14px;
    border-radius: 3px;
    font-family: inherit;
    margin: 10px 0 20px;
}

.button--dark {
    width: 9rem;
    padding: 13px;
    background-color: rgb(42, 42, 42);
    color: white;
    border: 2px solid rgb(80, 80, 80);
    font-size: 20px;
    border-radius: 3px;
    font-family: inherit;
    margin-bottom: 30px;
}

.container--dark {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: 50px;
    justify-content: center;
}

.media-logo {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(74, 74, 74);
    border-radius: 3px;
}

.media-logo:hover,
.button--dark:hover {
    border-color: rgb(152, 72, 71);
}

::placeholder {
    color: rgb(182, 182, 182);
    font-size: 14px;
}

#email {
    width: 100%;
    max-width: 700px;
    background-color: rgb(81, 81, 81);
    border: none;
    margin: 10px auto 30px;
    border-radius: 0;
    color: white;
}

#email:focus {
    outline: none;
    box-shadow: 0 0 0 1pt rgb(152, 72, 71);
}

@media only screen and (min-width: 768px) {
    .block-area {
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(4, 250px);
    }
    .picture,
    .picture--positioned-right,
    .paper-cell,
    .photo-cell {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (min-width: 1080px) {
    .block-area {
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: repeat(2, 250px);
        grid-auto-flow: row;
    }
}

@media only screen and (min-width: 768px) {
    .plane {
        margin-bottom: 25px;
        transform: scale(1.5);
    }
    .first-block__title {
        font-size: 26px;
        font-weight: 600;
    }
    .first-block__subtitle {
        font-size: 16px;
    }
}